@charset "utf-8";
.page {
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  font: 15px 'opensans' , sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  border: none;
  outline: none;
  padding: 0px;
}
ul {
  list-style-type: none;
}
h1, h2, h3, p , ul, li {
  padding: 0px;
  margin: 0px;
}
