.btn {
  display: block;
  margin: auto;
  border: 2px solid $col-grey;
  text-transform: uppercase;
  font: bold 17px/52px 'opensans';
  text-align: center;
  width: 260px;
  background-color: transparent;
  &__link {
    display: block;
  }
  &:hover {
    background: $col-grey;
    color: #ffffff;
  }
  &:active {
    background: $col-grey;
    color: #7c7c7c;
  }
  &--catalog {
    width: 190px;
    @media #{$tablet-width} {
      width: 585px;
      order: 4;
    }
    @media #{$desktop-width} {
      width: 230px;
      margin:10px 0 0 0;
    }
  }
  &--form-flex {
    @media #{$tablet-width} {
    margin: 45px 0 0 0;
    width: 232px;
    height: 54px;
    }
    @media #{$desktop-width} {
    margin-left: 175px;
    }
  }
}
