.cards {
  @include container;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  &__item {
    margin-top: 27px;
    border: 1px solid #ededed;
    &:hover {
      & .cards__wrap-inner {
        box-shadow: 0 6px 10px 0 #e8e8e8;
      }
    }
    &:active {
      & .cards__wrap-inner {
        box-shadow: 0 3px 5px 0 #e8e8e8;
      }
    }
  }
  &__image {
    width: 260px;
    height: 198px;
    border: 1px solid red; /* temp */
    box-sizing: border-box;/* temp */
  }
  &__wrap-inner {
    display: flex;
    flex-direction: column;
    padding: 24px 28px 28px 28px;
    border-top: 1px solid #ededed;
  }
  &__name {
    font: bold 17px/24px 'opensans';
    & a {
      &:hover {
        color: #666666;
      }
      &:active {
        color: #b2b2b2;
      }
    }
  }
  &__desc {
    font: 13px/30px 'opensans';
    padding: 5px 0 19px 0px;
  }
  &__price-wrap {
    margin-top: auto;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
  }
  &__price {
    font: bold 15px/24px 'opensans';
  }
  &__icon {
    fill: #d3d2d2;
  }
  &__basket {
    &:hover {
      .cards__icon {
        fill: #63d1bb;
      }
    &:active {
      .cards__icon {
        fill: #d0f1ea;
      }
    }
    }
  }
}
@media #{$tablet-width} {
  .cards {
    padding-top: 54px;
    &__item {
      display: flex;
      margin-bottom: 27px;
    }
    &__name {
        font: bold 20px/24px 'opensans';
    }
    &__desc {
      font: 15px/30px 'opensans';
    }
    &__image {
      flex-shrink: 0;
      width: 334px;
      height: 335px;
    }
    &__wrap-inner  {
      align-content: space-between;
      flex-grow: 1;
      padding-bottom: 16px;
    }
    &__price-wrap {
      padding: 21px 0 14px 0;
    }
    &__price {
      font: bold 17px/24px 'opensans';
    }
  }
}
@media #{$desktop-width} {
  .cards {
    padding-top: 105px;
    flex-direction: row;
    justify-content: space-between;
    &__item {
      flex-direction: column;
    }
    &__image {
      width: 316px;
      height: 463px; /* for image temp*/
    }
    &__desc {
      padding-bottom: 14px;
    }
    &__wrap-inner {
      width: 316px;
      padding-bottom: 14px;
      box-sizing: border-box;
}
  }
}
