.cards {
  @include container;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}
.cards__item {
  margin-top: 27px;
  border: 1px solid #ededed;
  &:hover {
    box-shadow: 0 6px 10px 0 #e8e8e8;
  }
  &:active {
    box-shadow: 0 3px 5px 0 #e8e8e8;
  }
}
.cards__image {
  width: 260px;
  height: 195px;
}
.cards__wrap-inner {
  display: flex;
  flex-direction: column;
  padding: 28px 28px 28px 28px;
  border-top: 1px solid #ededed;
}
.cards__name {
  font: bold 17px/24px 'opensans';
}
.cards__name a {
  &:hover {
    color: #666666;
  }
  &:active {
    color: #b2b2b2;
  }
}
.cards__desc {
  font: 13px/30px 'opensans';
  padding: 5px 0 19px 0px;
}
.cards__price-wrap {
  margin-top: auto;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
}
.cards__price {
  font: bold 15px/24px 'opensans';
}
.cards__icon {
  fill: #d3d2d2;
}
.cards__basket {
  background: none;
  cursor: pointer;
  &:hover {
    .cards__icon {
      fill: #63d1bb;
    }
  }
  &:active {
    .cards__icon {
      fill: #d0f1ea;
    }
  }
}
@media #{$tablet-width} {
  .cards {
    padding: 41px 0 0;
  }
  .cards__item {
    display: flex;
    margin-bottom: 25px;
  }
  .cards__name {
    font: bold 20px/24px 'opensans';
  }
  .cards__desc {
    font: 15px/30px 'opensans';
  }
  .cards__image {
    flex-shrink: 0;
    width: 334px;
    height: 334px;
  }
  .cards__wrap-inner  {
    align-content: space-between;
    flex-grow: 1;
    padding: 24px 25px 19px 26px;
  }
  .cards__price-wrap {
      padding: 22px 6px 9px 5px;
  }
  .cards__price {
    font: bold 17px/24px 'opensans';
  }
}
@media #{$desktop-width} {
  .cards {
    padding-top: 89px;
    flex-direction: row;
    justify-content: space-between;
  }
  .cards__item {
    flex-direction: column;
  }
  .cards__image {
    width: 316px;
    height: 462px; /* for image temp*/
  }
  .cards__desc {
    padding-bottom: 14px;
  }
  .cards__wrap-inner {
    width: 316px;
    padding-top: 24px;
    padding-bottom: 15px;
    box-sizing: border-box;
  }
  .cards__price-wrap {
    padding-left: 0px;
  }
}
