.contacts {
  &__head {
    @include container;
    font: bold 18px/30px 'opensans';
    margin-top: 44px;
  }
  &__items {
    @include container;
    display: flex;
    flex-wrap: wrap;
    font: 15px/30px 'opensans';
    color: #444444;
  }
  &__desc {
    width: 70%;
    margin-top: 35px;
  }
  &__link {
    border-bottom: 1px solid #62d1ba;
    &:hover {
      border-bottom: 1px solid #46c1ae;
      color: #46c1ae;
    }
    &:active {
      border-bottom: 1px solid #ecf9f7;
      color: #ecf9f7;
    }
  }
  &__name {
    width: 30%;
    margin-top: 35px;
  }
  &__map {
    margin: 42px 0 40px 0;
  }
}
