.contacts {
  @include line-decoration;
  &__wrap-inner {
    @include container;
    padding-top: 34px;
  }
  &__head {
    font: bold 18px/30px 'opensans';
    }
  &__items {
    display: flex;
    flex-wrap: wrap;
    font: 15px/30px 'opensans';
    color: #444444;
  }
  &__desc {
    display: block;
    width: 70%;
    margin-top: 25px;
  }
  &__link {
    border-bottom: 1px solid #62d1ba;
    &:hover {
      border-bottom: 1px solid #46c1ae;
      color: #46c1ae;
    }
    &:active {
      border-bottom: 1px solid #ecf9f7;
      color: #ecf9f7;
    }
  }
  &__name {
    width: 30%;
    margin-top: 25px;
  }
  &__map {
    margin: 70px 0 40px 0;
  }
}
@media #{$tablet-width} {
  .contacts {
    &__wrap-inner {
      padding-top: 62px;
    }
    &__head {
      position: relative;
      font: bold 43px/50px 'opensans';
      &::after {
        content: "";
        position: absolute;
        width: 47px;
        height: 81px;
        top: -16px;
        right: 0px;
        background: url("../img/icon-flag.svg") 50% 50% no-repeat;
      }
    }
    &__items {
      font: 17px/30px 'opensans';
      flex-wrap: nowrap;
      padding-top: 48px;
    }
    &__name,
    &__desc{
      margin: 0;
      flex-basis: 77px;
      flex-grow: 1;
    }
    &__desc {
      flex-basis: 257px;
    }
    &__map {
      margin-top: 57px;
      margin-bottom: 54px;
    }
  }
  .btn--contacts {
    width: 232px;
    height: 52px;
  }
}
@media #{$desktop-width} {
  .contacts {
    padding-top: 10px;
    &__wrapper {
      @include container;
      display: flex;
      position: relative;
    }
    &__wrap-inner {
      display: flex;
      width: 350px;
      flex-direction: column;
      padding-top: 140px;
      padding-left: 175px;

    }
    &__head {
      font: bold 53px/57px 'opensans';
      &::after {
        top: -9px;
        left: -112px;
      }
    }
    &__items {
      flex-wrap: wrap;
    }
    &__name,
    &__desc {
      padding-bottom: 33px;
    }
    &__map {
      flex-shrink: 0;
      width: 525px;
      height: 461px;
      margin:0;
      margin-top: 67px; /*Проблема слияния запросов media => переопределение padding радительского блока*/
    }
  }
  .btn--contacts {
    position: absolute;
    bottom:0px;
    left: 175px;
  }
}
