.contacts {
  @include line-decoration;
}
.contacts__wrap-inner {
  @include container;
  padding-top: 34px;
}
.contacts__head {
  font: bold 18px/30px 'opensans';
  }
.contacts__items {
  display: flex;
  flex-direction: column;
  font: 15px/30px 'opensans';
  color: #444444;
}
.contacts__items-row {
  display: flex;
  padding-top: 28px;
}
.contacts__desc {
  display: block;
  width: 70%;
  padding-right: 24px;
}
.contacts__link {
  border-bottom: 1px solid #62d1ba;
  &:hover {
    border-bottom: 1px solid #46c1ae;
    color: #46c1ae;
  }
  &:active {
    border-bottom: 1px solid #ecf9f7;
    color: #ecf9f7;
  }
}
.contacts__name {
  width: 30%;
  flex-shrink: 0;
}
.contacts__map {
  margin: 38px 0 35px 0;
  width: 100%;
  height: 459px;
}
@media #{$tablet-width} {
  .contacts__wrapper {
    margin-bottom: 54px;
  }
  .contacts__wrap-inner {
    padding-top: 64px;
  }
  .contacts__head {
    position: relative;
    font: bold 43px/50px 'opensans';
    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: -16px;
      right: 0px;
      background: url("../img/icon-flag.svg") 50% 50% no-repeat;
    }
  }
  .contacts__items {
    font: 17px/30px 'opensans';
    flex-direction: row;
    padding-top: 19px;
    justify-content: space-between;
  }
  .contacts__items-row {
    width: 334px;
    padding-top: 30px;
  }
  .contacts__name,
  .contacts__desc{
    margin: 0;
    flex-basis: 77px;
    flex-grow: 1;
  }
  .contacts__desc {
    flex-basis: 257px;
  }
  .contacts__map {
    margin-top: 57px;
    margin-bottom: 54px;
  }
}
@media #{$desktop-width} {
  .contacts {
    padding-top: 10px;
  }
  .contacts__wrapper {
    margin:0  auto 106px;
    width: 1050px;
    display: flex;
    position: relative;
  }
  .contacts__wrap-inner {
    display: flex;
    width: 350px;
    flex-direction: column;
    padding-top: 140px;
    padding-left: 175px;
  }
  .contacts__head {
    font: bold 53px/57px 'opensans';
    &::after {
      top: -9px;
      left: -112px;
    }
  }
  .contacts__items {
    flex-direction: column;
  }
  .contacts__map {
    flex-shrink: 0;
    width: 525px;
    height: 461px;
    margin:0;
    margin-top: 67px; /*Проблема слияния запросов media => переопределение padding радительского блока*/
  }
}
