.craft {
  @include container;
  margin-top: 35px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ededed;
    padding-bottom: 32px;
    &:hover {
        box-shadow: 0 6px 10px 0 #e8e8e8;
    }
    &:active {
        box-shadow: 0 3px 5px 0 #e8e8e8;
    }
  }
  &__title {
    flex-basis: 350px;
    position: relative;
    padding: 22px 0 22px 90px;
    font: bold 17px/24px 'opensans';
    color: #000;
    &::before {
      content: "";
      position: absolute;
      top: 24px;
      width: 40px;
      left: 30px;
      height: 40px;
      background: url(../img/icon-video.svg) 50% 50% no-repeat;
    }
  }
  &__description {
    font: 13px/24px 'opensans';
    padding: 30px 32px 46px 32px;
    color: $col-grey;
  }
  &__video{
    width: 260px;
    height: 150px;
  }
}
@media #{$tablet-width} {
  .craft {
    margin-top: 27px;
    padding-bottom: 24px;
    &__wrapper {
      padding-bottom: 43px;
    }
    &__video {
      order: 1;
      width: 668px;
      height: 455px;
    }
    &__title {
      order: 2;
      padding: 39px 0 0 104px;
      font-size: 20px;
    }
    &__description {
      order: 3;
      font: 15px/30px 'opensans';
      padding: 31px 36px 34px 43px;
    }
  }
}
@media #{$desktop-width} {
  .craft {
    &__wrapper {
      position: relative;
      padding:0 0 56px 763px;
    }
    &__video {
      position: absolute;
      width: 682px;
      top: 0px;
      left: 0px;
    }
    &__title {
      padding: 98px 65px 0 0px;
      &::before {
        left: -5px;
        top: 41px;
      }
    }
    &__description  {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 33px;
    }
  }
}
