.main-footer {
    margin-top: 40px;
  background: #f1f1f1;
  &__wrapper {
    @include container;
  }
  &__copyright {
    border-top: 1px solid #e5e5e5;
    padding: 22px 0;
    width: 184px;
    margin: auto;
  }
  &__icon {
    fill: #63d1bb;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: bold 19px/34px 'opensans';
    &:hover {
      .main-footer__icon {
        fill: #46c1ae;
      }
    }
    &:active {
      color: #a8a8a8;
      & .main-footer__icon {
        fill: #bde3dd;
      }
    }
  }
  &__copy-logo {
    width: 27px;
    height: 34px;
  }
  &__logo{
    display: none;
    border: 1px solid red; /*temp*/
  }
  &__logo img {
    width: 103px;
    height: 34px;
  }
}
@media #{$tablet-width} {
  .main-footer {
    &__wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }
    &__copyright {
      border: none;
      flex-basis: 186px;
      margin: 0;
    }
    &__logo {
      align-self: center;
      display: block;
    }
  }
}
