.main-header {
  position: relative;
  
  &__wrapper {
    @include container; 
    padding-top: 22px;
    padding-bottom: 22px;
  }
  
  &__logo {
    width: $logo-width;
    margin: auto;
    
    &:hover {
      color: #666666;
    }
      
    &:active {
      color: b2b2b2;
    }
  }
  
  
}
