.main-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
@media #{$tablet-width} {
  .main-header {
    border-top: none;
    height: 89px;
    &__wrapper {
      @include container;
      display: flex;
      position: relative;
      justify-content: space-between;
    }
  }
}
@media #{$desktop-width} {
}
