.main-nav {
  font: bold 17px/24px 'opensans';
  & a {
    display: block;
    padding: 27px 0 27px 24%;
  }
  &__icon {
    margin: 0 25px -4px -50px;
    fill: #d3d2d2;
  }
  &__item {
    border-bottom: 1px solid #ececec;
    position: relative;
    & a {
      &:hover {
        color: #666666;
        & .main-nav__icon {
          fill: #63d1bb;
        }
      }
      &:active {
        color: #b2b2b2;
        & .main-nav__icon {
          fill: #d0f1ea;;
        }
      }
    }
    &:first-child {
      border-top: 1px solid #ececec;
    }
  }
  &__btn {
    display: block;
    position: absolute;
    right: 9%;
    top: 28px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
@media #{$media-mobile-only} {
  .main-nav--open  {
    & .main-nav__items{
      position: absolute;
      background: #fff;
      width: 100%;
      top: 84px;
      left: 0px;
    }
    & .main-nav__btn  {
      background: #fff url("../img/icon-menu-close.svg") 50% 50% no-repeat;
    }
  }
  .main-nav--closed {
    & .main-nav__items{
      display: none;
    }
    & .main-nav__btn {
      background: #fff url("../img/icon-menu-open.svg") 50% 50% no-repeat;
    }
  }
  .main-nav--nojs {
    & .main-nav__items {
    display: block;
    }
    & .main-nav__btn {
      display: none;
    }
  }
}
@media #{$tablet-width} {
  .main-nav {
    &__icon {
      margin: 0;
      padding: 36px 0 0 32px;
      &--basket {
        padding: 0 40px 0 0 ;
      }
    }
    &__btn {
      display: none;
    }
    &__items {
      display: flex;
    }
    &__item {
      & a {
        padding: 0px;
      }
      border: none;
      &--search {
        border-left: 1px solid #ececec;
        font-size: 0px;
        width: 84px;
        height: 88px;
        & a {
          height: 100%;
          padding: 0px;
        }
      }
      &--basket {
        border-left: 1px solid #ececec;
        & a {
          display: flex;
          align-items: center;
          padding: 32px 0 32px 30px;
        }
        &::before {
          height: 88px;
        }
      }
      &:nth-child(1), &:nth-child(2) {
        border: none;
        font: bold 15px/24px 'opensans';
        position: absolute;
        top: 106px;
        left: 50px;
      }
      &:nth-child(2) {
        left: 217px;
      }
    }
  }
}
@media #{$desktop-width} {
  .main-nav{
    &__items {
      font: bold 17px/24px 'opensans';
      width: 1050px;
    }
    &__item{
      &:nth-child(1) {
        position: relative;
        top: auto;
        left: auto;
        & a {
          padding: 32px 35px 32px 0;
        }
      }
      &:nth-child(2) {
        margin-right: auto;
        border-left: 1px solid #ececec;
        position: relative;
        top: auto;
        left: auto;
          & a {
            padding: 32px 0 32px 35px;
        }
      }
    }
  }
}
