.main-nav {
  font: bold 17px/24px 'opensans';
  &__logo {
	padding-top: 21px;
    padding-bottom: 15px;
    width: $logo-width;
    margin: auto;
    &:hover {
      color: #666666;
    }
    &:active {
      color: b2b2b2;
    }
  }
  &__icon {
    margin: 0 25px -4px -50px;
    fill: #d3d2d2;
  }
  &__item {
    border-bottom: 1px solid #ececec;
    position: relative;
    & a {
      &:hover {
        color: #666666;
        & .main-nav__icon {
          fill: #63d1bb;
        }
      }
      &:active {
        color: #b2b2b2;
        & .main-nav__icon {
          fill: #d0f1ea;;
        }
      }
    }
  }
  &__btn {
    display: block;
    position: absolute;
    right: 9%;
    top: 28px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__items-page,
  &__items-goods {
    & a {
      display: block;
      padding: 27px 0 27px 24%;
    }
  }
  &__items-add {
    display: none;
    color: red; /* temp */
  }
}
@media #{$media-mobile-only} {
  .main-nav__item--catalog {
    border-top: 1px solid #ececec;
  }
  .main-nav--open  {
    & .main-nav__items-page,
      .main-nav__items-goods{
      position: absolute;
      background: #fff;
      width: 100%;
      top: 84px;
      left: 0px;
    }
    & .main-nav__items-goods {
      top: 242px;
    }
    & .main-nav__btn  {
      background: #fff url("../img/icon-menu-close.svg") 50% 50% no-repeat;
    }
  }
  .main-nav--closed {
    & .main-nav__items-page,
    & .main-nav__items-goods{
      display: none;
    }
    & .main-nav__btn {
      background: #fff url("../img/icon-menu-open.svg") 50% 50% no-repeat;
    }
  }
  .main-nav--nojs {
    & .main-nav__items-page,
      .main-nav__items-goods{
        display: block;
    }
    & .main-nav__btn {
      display: none;
    }
  }
}
@media #{$tablet-width} {
  .main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__logo {
      margin: 0;
      padding: 22px 0;
      margin-right: auto;
    }
    &__icon {
      margin: 0;
      padding: 36px 0 0 32px;
      &--basket {
        padding: 0 40px 0 0 ;
      }
    }
    &__btn {
      display: none;
    }
    &__items-page {
      display: flex;
      padding-top: 18px;
      order: 3;
    }
    &__items-goods {
      display: flex;
      order:2;
    }
    &__items-add {
      display: flex;
      order: 4;
      padding-top: 18px;
      font: bold 15px/24px 'opensans';
      color: #444444;
    }
    &__addition-left {
      display: none;
    }
    &__item {
      border: none;
      & a {
        padding: 0px;
      }
      &--search {
        border-left: 1px solid #ececec;
        font-size: 0px;
        width: 84px;
        height: 88px;
        & a {
          height: 100%;
          padding: 0px;
        }
      }
      &--basket {
        border-left: 1px solid #ececec;
        & a {
          display: flex;
          align-items: center;
          padding: 32px 0 32px 30px;
        }
        &::before {
          height: 88px;
        }
      }
      &--catalog, &--form {
        padding-right: 35px;
        border: none;
        font: bold 15px/24px 'opensans';
      }
    }
  }
}
@media #{$desktop-width} {
  .main-nav{
    &__items-page {
      order: 1;
      padding-top: 0px;
    }
    &__item--catalog {
      padding-top: 31px;
      font-size: 17px;
      padding-right: 41px;
      border-right: 1px solid #ececec;
    }
    &__item--form {
       padding-top: 31px;
      font-size: 17px;
      padding-right: 0px;
      padding-left: 41px;
    }
    &__logo {
      order: 2;
      margin: 0 auto;
    }
    &__items-goods {
      order: 3;
    }
    &__items-add {
      display: flex;
      flex-grow: 1;
      order: 4;
    }
    &__addition-left {
      display: inline-block;
      color: #000;
      padding-right: 72px;
    }
    &__addition-right {
      margin-left: auto;
    }
  }
}
