.page-name {
  background: #f1f1f1;
}
.page-name__wrapper {
  @include container;
  text-align: center;
}
.page-name__head {
  font: bold 27px/30px 'opensans';
  padding-top: 69px;
  padding-bottom: 73px;
}
@media #{$tablet-width} {
  .page-name {
    @include fill-decoration;
  }
  .page-name__head {
    font: bold 43px/50px 'opensans';
    padding-top: 93px;
    padding-bottom: 80px;
  }
}
@media #{$desktop-width} {
  .page-name__head {
    font: bold 53px/57px 'opensans';
    padding-top: 93px;
    padding-bottom: 100px;
  }
}
